*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

.container{
    height: 100vh;
    width: 100%;
    background-color:#ffffff;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

/* Esto es el titulo que cambiar de colorrrrrr */
.logo:hover{
    color: #D7BDE2;
    text-shadow: 00 10px rgba(162, 0, 184, 0.5),
     00 10px rgba(162, 0, 184, 0.5),
     00 20px rgba(162, 0, 184, 0.5),
     00 40px rgba(162, 0, 184, 0.5),
     00 80px rgba(162, 0, 184, 0.5),
     00 160px rgba(162, 0, 184, 0.5),
     00 320px rgba(162, 0, 184, 0.5),
     00 640px rgba(162, 0, 184, 0.5),
     00 1280px rgba(162, 0, 184, 0.5),
     00 2560px rgba(162, 0, 184, 0.5),
     00 5120px rgba(162, 0, 184, 0.5),
}
.neon:hover{
    color: #D7BDE2;
    text-shadow: 00 5px rgba(162, 0, 184, 0.5),
     00 10px rgba(162, 0, 184, 0.5),
     00 20px rgba(162, 0, 184, 0.5),
     00 40px rgba(162, 0, 184, 0.5),
     00 80px rgba(162, 0, 184, 0.5),
     00 160px rgba(162, 0, 184, 0.5),
     00 320px rgba(162, 0, 184, 0.5),
     00 640px rgba(162, 0, 184, 0.5),
     00 1280px rgba(162, 0, 184, 0.5),
     00 2560px rgba(162, 0, 184, 0.5),
     00 5120px rgba(162, 0, 184, 0.5),

}

/*Esto es la lista de acerca de nosotros*/
nav{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;

}

ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 40px;
    font-weight: 120;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

/*Esto es el texto que cambia de color */
ul li:hover{
 border-radius: 20px;
 background-color: #D7BDE2;
 color: #ffffff;
 
}
header{
    position: absolute;
    bottom: 30%;
    padding: 0 50px;
}
/* ====  esto es el titulo principal*/
header h1{
    font-size: 7rem;
}
/*====   este es el titulo*/
header h2{
    font-size: 4rem;
}
/*====    este es el parrafo debajo del titulo*/
header p{
    margin-top: 20px;
    margin-bottom: 20;
    font-size: 1.7rem;
}
/*Este es boton de post now! */

header button{
 padding: 0 5px;
width: 100px;
outline: none;
border: 0;
height: 50px;
font-weight: 500;
text-align: center;
background-color: #D7BDE2 ;
cursor: pointer;
border-radius: 20px;
}
/* Dentro del boton post now esto es la flecha*/
header  button img{
    display: none;
    
}
header button:hover img{
    display: flex;
    
}
header button:hover{
    width: 150px;
    display: flex;
    justify-content: space-evenly;
   

}
.container .flecha{
    position:relative;
    height: 100px;
    width: 50px;
    right: 10%;
    bottom: 0;
    z-index: 999;
}
/*Esto es el cubo */
.container .emp{

    position: absolute;
    height: 350px;
    width: 350px;
    left: 65%;
    bottom: 0;
    z-index: 999;
    overflow: hidden;
    box-shadow: 10px;
    top: 120px;
    border-radius: 50%;
    animation-name: girarb;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-block;
}
@keyframes girarb{
from{
    transform:rotate(360deg);
}to{
    transform:rotate(0deg);
}
}
/*Esto es el icono de enlances en la parte inferior */

.iconos{
    bottom: 8%;
    position: absolute;
    padding: 0 50px;
}

.iconos a > img{
    font-size: 5.5rem;
    padding: 0 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.iconos a > img:hover{
 background-color:  #D7BDE2;
 border-radius: 900px;
}

